{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Access denied' %}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate 'Access denied' %}</strong></h4>
    <div class="alert alert-danger" role="alert">
      <p>{% translate "You don't have permissions to access this page" %}.</p>
      <p>{% translate "Maybe you still have to" %} <a href="{% url 'account:front_login' %}">{% translate "login" %}</a>,
      {% translate "otherwise use this" %} <a href="{% url 'contacts' %}">{% translate "form" %}</a>
      {% translate "to request permissions" %}.</p>
    </div>
  </div>
</div>
{% endblock content %}
