{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Page not found' %}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate 'Page not found' %}</strong></h4>
    <div class="alert alert-danger" role="alert">
      <p>{% translate "Maybe this page no more exists, or the address is wrong" %}.</p>
      <p>{% translate "Double check the address you inserted" %}.</p>
    </div>
    <p>{% translate "Use this" %} <a href="{% url 'contacts' %}">{% translate "form" %}</a>
    {% translate "to notify the incovenience" %}.</p>
  </div>
</div>
{% endblock content %}
