{% extends 'base.html' %}

{% block title %}RP | Pagina non trovata{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Pagina non trovata</strong></h4>
    <div class="alert alert-danger" role="alert">
      <p>Può essere che la pagina non esista più, oppure che il link sia sbagliato.</p>
      <p>Accertati di non aver inserito un indirizzo inesistente.</p>
    </div>
    <p>Utilizza questo <a href="/contacts">modulo</a> per notificare l'inconveniente.</p>
  </div>
</div>
{% endblock content %}
