<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Internal server error (500)</h1>

        <h3>Purtroppo c'è stato un errore a livello di server.</h3>
        <p>
          Copia l'indirizzo che ha generato l'errore, torna alla pagina
          precedente e utilizza il modulo 'Contatti / Messaggi' per notificare
          l'errore, incollando l'indirizzo di cui sopra. Ci scusiamo per
          l'inconveniente.
        </p>
        <p><em>
          Lo staff di RP
        </em></p>
    </body>
</html>
