{% extends 'blog/article_archive_tags.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Articles by' %} {{ author.get_full_name }}{% endblock title %}
{% block article_archive %}
<h4><strong>
  {% translate 'In depth articles by' %}
  {% if tag_filter %}
  <a href="{% url 'blog:post_by_author' author.username %}">{{ author.get_full_name }}</a>
  {% translate 'in category:' %} {{ tag_filter|upper }}
  {% else %}
  {{ author.get_full_name }}
  {% endif %}
</strong></h4>
{% include "blog/article_archive_list.html" %}
{% if is_paginated %}
  {% include "blog/article_pagination.html" %}
{% endif %}
{% endblock article_archive %}
