{% extends 'base.html' %}
{% load fb_versions %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Authors' %}{% endblock title %}

{% block content %}
<h4><strong>{% translate 'List of authors' %}</strong></h4>
<hr class="mb-4">
{% if authors %}
  {% with pass=user.is_authenticated %}
    {% for author, counts in authors.items %}
      <div class="row row-striped">
        <div class="col-md-2 text-center">
          {% if author.profile.avatar %}
          <img src="{% version author.profile.get_thumb 'admin_thumbnail' %}" class="rounded-circle">
          {% endif %}<h5>{{ author.get_full_name }}</h5>
        </div>
        <div class="col-md-8">
          {% translate "No biographical notes" as trans01 %}
          <p>{{ author.profile.bio|default_if_none:trans01 }}</p>
          <ul class="list-inline">
            {% if pass and counts.0 %}
              <li class="list-inline-item">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                  {% translate "Number of" %} <a href="{% url 'blog:post_by_author' author.username %}">{% translate "articles" %}</a>: {{ counts.0 }}
              </li>
            {% endif %}
            {% if pass and counts.1 %}
              <li class="list-inline-item">
                <i class="fa fa-upload" aria-hidden="true"></i>
                  {% translate "Number of" %} <a href="{% url 'blog:upload_by_author' author.username %}">{% translate "contributions" %}</a>: {{ counts.1 }}
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  {% endwith %}
{% else %}
    <div class="col-md-12">
        <p>{% translate "No authors available." %}</p>
    </div>
{% endif %}
<hr class="mb-4">
{% if is_paginated %}
  {% include 'blog/article_pagination.html' %}
{% endif %}
{% endblock content %}
