{% extends 'base.html' %}
{% load fb_versions %}

{% block title %}{{ website.acro }} | Contributi di {{ author.get_full_name }} {% endblock title %}
{% block content %}
<p><a href="{% url 'blog:post_authors' %}">Lista degli autori</a></p>
<h4><strong>
  Contributi di {{ author.get_full_name }}
  {% if author.profile.avatar %}
  <img src="{% version author.profile.get_thumb 'admin_thumbnail' %}" class="rounded-circle">
  {% endif %}
</strong></h4>
  <div class="card-deck">
    {% for upload in uploads %}
    <div class="card" style="margin-bottom: 20px; min-width: 18rem;">
        {% if upload.image %}
        <img class="card-img-top" src="{% version upload.image 'large' %}" width="100%" alt="" />
        {% endif %}
      <div class="card-body">
        <p class="card-text">{{ upload.body }}</p>
      </div>
      <div class="card-footer">
        Caricato il {{ upload.date|date:"d M Y"}} in
          <a href="{{ upload.post.get_path }}">{{ upload.post.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% if is_paginated %}
<nav aria-label="Page navigation container">
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PRECEDENTI </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> PROSSIMI &raquo;</a></li>
  {% endif %}
</ul>
</nav>
{% endif %}
{% endblock content %}
