{% extends 'base.html' %}
{% load fb_versions %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Contributions by' %} {{ author.get_full_name }} {% endblock title %}
{% block content %}
<p><a href="{% url 'blog:post_authors' %}">{% translate 'List of authors' %}</a></p>
<h4><strong>
  {% translate 'Contributions by' %} {{ author.get_full_name }}
  {% if author.profile.avatar %}
  <img src="{% version author.profile.get_thumb 'admin_thumbnail' %}" class="rounded-circle">
  {% endif %}
</strong></h4>
  <div class="card-deck">
    {% for upload in uploads %}
    <div class="card" style="margin-bottom: 20px; min-width: 18rem;">
        {% if upload.image %}
        <img class="card-img-top" src="{% version upload.image 'large' %}" width="100%" alt="" />
        {% endif %}
      <div class="card-body">
        <p class="card-text">{{ upload.body }}</p>
      </div>
      <div class="card-footer">
        {% translate 'Uploaded on' %} {{ upload.date|date:"d M Y"}} in
          <a href="{{ upload.post.get_path }}">{{ upload.post.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% if is_paginated %}
  {% include 'blog/article_pagination.html' %}
{% endif %}
{% endblock content %}
