{% extends 'pagine/blog_archive_tags.html' %}

{% block title %}SP | Articoli{% endblock title %}
{% block blog_archive %}
<h4><strong>
  Articoli di approfondimento
  {% if tag_filter %} nella categoria: {{ tag_filter|upper }}{% endif %}
</strong></h4>
{% if posts %}
<div class="card-deck">
{% for post in posts %}
<div class="card" style="margin-bottom: 20px; min-width: 18rem;">
  <div class="card-header">
    <h4 class="card-title">
    <a href="/articoli/{{ post.date|date:"Y/m/d" }}/{{ post.slug }}">
      {{ post.title }}</a></h4>
  </div>
  {% if post.get_image %}
  <img class="card-img-top" src="{{ post.get_image.url }}" alt="{{ post.intro }}">
  {% endif %}
  <div class="card-body">
    <em class="card-text">{{ post.intro }}</em>
    <ul class="list-inline">
      <li class="list-inline-item">
        {% if post.author %}
        <i class="fa fa-user" aria-hidden="true"></i>
        {{ post.author.get_full_name }}
        {% endif %}
      </li>
      <li class="list-inline-item">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        {{ post.date|date:"d M Y" }}
      </li>
      {% if post.get_tags %}
        <li class="list-inline-item">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          {% for tag in post.get_tags %}
            {{ tag|upper }}
          {% endfor %}
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endfor %}
</div>
{% else %}
<p>Non sono disponibili articoli</p>
{% endif %}
{% if is_paginated %}
<nav aria-label="Page navigation container">
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PRECEDENTI </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> PROSSIMI &raquo;</a></li>
  {% endif %}
</ul>
</nav>
{% endif %}
{% endblock blog_archive %}
