{% extends 'base.html' %}

{% block title %}RP | {{ event.title }}{% endblock title %}
{% block content %}
      {% if event.get_image %}
        <div class="row">
          <img src="{{ event.get_image.url }}" width="100%" alt="{{ event.intro }}" />
        </div>
      {% endif %}
      <div class="row row-striped">
        <div class="col-md-2 text-right">
          <h1 class="display-4"><span class="badge badge-{{ event.get_badge_color }}">{{ event.date|date:"j" }}</span></h1>
          <a href="/calendario/{{ event.date|date:"Y/m" }}/"><h4>{{ event.date|date:"M-Y" }}</h4></a>
        </div>
        <div class="col-md-10">
          <h3 class="text-uppercase"><strong>{{ event.title }}</strong></h3>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.date|date:"l" }}</li>
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.date|date:"H:i" }}</li>
            <li class="list-inline-item">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <a href="/luoghi/{{ event.location.slug }}">{{ event.location.title }}</a>
            </li>
            {% if event.manager %}
            <li class="list-inline-item">
              <i class="fa fa-user" aria-hidden="true"></i>
              {% if user.is_authenticated %}
              <a href="/contacts/?recipient={{ event.manager_id }}&subject={{ event.title }}">{{ event.manager }}</a>
              {% else %}
              {{ event.manager }}
              {% endif %}
            </li>
            {% endif %}
            {% if event.get_tags %}
              <li class="list-inline-item">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                {% for tag in event.get_tags %}
                  <a href="/calendario/?categoria={{ tag }}">{{ tag|upper }}</a>
                {% endfor %}
              </li>
            {% endif %}
            {% if event.event_race.all %}
            <li class="list-inline-item">
              <i class="fa fa-flag-checkered" aria-hidden="true"></i>
              {% for race in event.event_race.all %}
                <a href="{{ race.get_path }}">{{ race.title }}</a>
              {% endfor %}
            </li>
            {% endif %}
            {% if perms.pagine.change_event %}
            <li class="list-inline-item">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <a href="/admin/pagine/event/{{ event.id }}/change/">Modifica</a>
            </li>
            {% endif %}
          </ul>
          <p>{{ event.intro }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"
          style="margin-right: 15px; margin-left: 15px; margin-top: 15px">
        {% if event.get_chronicle %}
          <div class="row">
            <h4><strong>Cronaca</strong></h4>
          </div>
          <div class="row">
          {% if event.chron_stream.render %}
            {{ event.chron_stream.render }}
          {% else %}
          <p>Ci stiamo lavorando! intanto aggiungete qualche contributo.</p>
          {% endif %}
          </div>
          <hr class="mb-4">
          {% if user.is_authenticated %}
            {% if event.restr_stream.render %}
            <div class="row">
              <h4><strong>Area riservata</strong></h4>
            </div>
            <div class="row">
              {{ event.restr_stream.render }}
            </div>
            <hr class="mb-4">
            {% endif %}
            <div class="row">
              <h4 id="upload-anchor"><strong>Contributi</strong></h4>
            </div>
            <div class="row">
              <a href="/calendario/contributi/?event_id={{ event.id }}">
              Aggiungi un contributo</a>
            </div>
            <hr class="mb-4">
            {% if event.get_uploads %}
            <div class="card-deck">
              {% for upload in event.get_uploads %}
                {% include 'pagine/uploads.html' %}
              {% endfor %}
            </div>
            {% endif %}
          {% else %}
            <div class="row">
              <p>Esegui il <a href="/login/?next={{ request.get_full_path }}">&nbsp;login&nbsp;</a>
                se vuoi visitare l'area riservata ed aggiungere un contributo</p>
            </div>
            <hr class="mb-4">
          {% endif %}
        {% else %}
          <div class="row">
            {{ event.stream.render }}
          </div>
        {% endif %}
        </div>
      </div>
{% endblock content %}
