{% extends 'base.html' %}

{% block title %}SP | {{ page.title }}{%endblock title %}
{% block extra-head %}
{% endblock extra-head %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
    {% if perms.pagine.change_institutional %}
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <a href="/admin/pagine/institutional/{{ page.id }}/change/">Modifica pagina</a>
    {% endif %}
    <h4><strong>{{ page.title }}</strong></h4>
    <p id="sommario"><em>{{ page.intro }}</em></p>
    {% if page.summary %}
    <h4>Sommario</h4>
    <ul>
      {% with paragraphs=page.get_paragraphs %}{% for paragraph in paragraphs %}
        <li><a href="#{{ paragraph.0 }}">{{ paragraph.1 }}</a></li>
      {% endfor %}{% endwith %}
    </ul>
    {% endif %}
    <div>
      {{ page.stream.render }}
    </div>
    <a href="#sommario">Torna al sommario</a>
  </div>
</div>
{% endblock content %}

{% block extra-js %}
{% endblock extra-js %}
