{% extends 'base.html' %}

{% block title %}RP | Informativa sulla privacy{%endblock title %}
{% block extra-head %}
{% endblock extra-head %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
    <h4><strong>{{ page.title }}</strong></h4>
    <p id="sommario"><em>{{ page.intro }}</em></p>
    <h4>Sommario</h4>
    <ul>
      <li><a href="#dati-generali">Dati generali</a></li>
      {% with paragraphs=page.get_paragraphs %}{% for paragraph in paragraphs %}
        <li><a href="#{{ paragraph.0 }}">{{ paragraph.1 }}</a></li>
      {% endfor %}{% endwith %}
    </ul>
    <h4 id="dati-generali">Dati generali</h4>
    <ul>
      <li>Titolare: {{ society.president.get_full_name_reverse }} (Presidente)</li>
      <li>Sede: {{ society.location.address }}</li>
      <li>Indirizzo Email: {{ society.location.email }}</li>
    </ul>
    <div>
      {{ page.stream.render }}
    </div>
    <a href="#sommario">Torna al sommario</a>
  </div>
</div>
{% endblock content %}

{% block extra-js %}
{% endblock extra-js %}
