{% load fb_versions %}
<div class="card" style="margin-bottom: 20px; min-width: 18rem;">
  <div class="card-header">
    {% if upload.user.profile.avatar %}
    <img src="{% version upload.user.profile.avatar 'admin_thumbnail' %}" width="32px" class="rounded-circle">
    {% endif %}
    {{ upload.user.get_full_name }}, caricato il {{ upload.date|date:"d M Y"}}
  </div>
    {% if upload.image %}
    <img class="card-img-top" src="{{ upload.image.url }}" width="100%" alt="" />
    {% endif %}
  <div class="card-body">
    <p class="card-text">{{ upload.body }}</p>
  </div>
</div>
