{% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-6 mb-3">
    {{ form.gender|as_crispy_field }}
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="date_of_birth">Data di nascita</label>
        <div class="input-group date" >
            {{ form.date_of_birth }}
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    {{ form.place_of_birth|as_crispy_field }}
  </div>
  <div class="col-md-6 mb-3">
    {{ form.nationality|as_crispy_field }}
  </div>
</div>
