{% extends 'base.html' %}

{% block title %}{{ website.acro }} | Account{%endblock title %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if submitted %}
    <p class="alert alert-success" role="alert">
      Il profilo di {{ submitted }} è stato modificato con successo!
    </p>
    {% endif %}
    <h4><strong>Account di {{ user.get_full_name }}</strong></h4>
    <p>Da questa pagina si accede ai propri dati personali,
      si può cambiare la propria password
      {% if user.is_staff %}, si può andare in amministrazione{% endif %}
      oppure si può effettuare il logout
      (consigliabile farlo sempre alla fine della sessione).</p>
      <a class="btn btn-success center" role="button" href="/accounts/profile/{{ user.uuid }}/change">
        Cambia i tuoi dati</a>
        <a class="btn btn-warning" role="button" href="{% url 'password_change' %}">
          Cambia la tua password</a>
      {% if user.is_staff %}
        <a class="btn btn-primary" role="button" href="/admin/">
          Vai all'amministrazione</a>
      {% endif %}
        <a class="btn btn-danger" role="button" href="{% url 'front_logout' %}">
          Effettua il logout</a>
    {% else %}
    <p class="alert alert-danger" role="alert">
      ATTENZIONE! Per accedere a quest'area bisogna essere autenticati.
    </p>
    <p>Fai clic qui per effettuare il <a href="{% url 'account:front_login' %}">login</a>.</p>
    {% endif %}
    <hr class="mb-4">
  </div>
</div>

{% endblock content %}
