{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Login{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Effettua il Login</strong></h4>

    {% if user.is_authenticated %}
      <p class="alert alert-warning" role="alert">
      Guarda che sei già autenticato come {{ user.username }}.
      Se vuoi fare il login con un account diverso devi prima
      <a href="{% url 'front_logout' %}">uscire dall'account</a>.
      </p>
      <hr class="mb-4">
    {% else %}
      {% if form.errors and not form.non_field_errors %}
        <p class="alert alert-danger" role="alert">
        {% if form.errors.items|length == 1 %}Correggi l'errore qui sotto
        {% else %}Correggi gli errori qui sotto{% endif %}
        </p>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
      {% endif %}
        <form action="" method="post" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                      {{ form.password|as_crispy_field }}
                    </div>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-secondary btn-lg btn-block" type="submit">Invia</button>
                  <small>I campi con l'asterisco (*) sono obbligatori</small><br>
                  <a href="{% url 'front_password_reset' %}">Dimenticato la password?</a>
                  <hr class="mb-4">
          {% csrf_token %}
        </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
