{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Login' %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate 'Login' %}</strong></h4>

    {% if user.is_authenticated %}
      <p class="alert alert-warning" role="alert">
      {% translate 'You are already authenticated as' %} {{ user.username }}.
      {% translate "If you want to login with a different account you have to" %}
      <a href="{% url 'front_logout' %}">{% translate "logout first" %}</a>.
      </p>
      <hr class="mb-4">
    {% else %}
      {% if form.errors and not form.non_field_errors %}
        <p class="alert alert-danger" role="alert">
        {% if form.errors.items|length == 1 %}{% translate "Fix error below" %}
        {% else %}{% translate "Fix errors below" %}{% endif %}
        </p>
      {% endif %}

      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
      {% endif %}
        <form action="" method="post" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-md-6 mb-3">
                      {{ form.password|as_crispy_field }}
                    </div>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-secondary btn-lg btn-block" type="submit">{% translate "Submit" %}</button>
                  <small>{% translate "Fields with asterisk (*) are required" %}</small><br>
                  <a href="{% url 'front_password_reset' %}">{% translate "Password forgotten?" %}</a>
                  <hr class="mb-4">
          {% csrf_token %}
        </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
