{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Contact" %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Contact" %}</strong></h4>
      {% if submitted %}
      <div class="alert alert-success" role="alert">
        <p><strong>{% translate "Thank you, your message was successfully submitted" %}!</strong></p>
        <p>{% translate "We will get in touch by email" %}.
        {% translate "It's not an automatic process, it may take some time" %}.
        {% translate "In the meanwhile you can send another" %}</p>
      </div>
      {% endif %}
      <p>{% translate "You are an anonymous user. You can either" %}
        <a href="{% url 'account:registration' %}">{% translate "signup" %} </a>
        {% translate "to the website or" %}
        <a href="{% url 'account:front_login' %}?next={% url 'contacts' %}">{% translate "login" %}</a>
        {% translate "if you have already. Alternatively fill the following form and submit." %}
      </p>
      {% if form.errors %}
        <p class="alert alert-danger" role="alert">
          {% translate "Fix the errors below, please" %}.
        </p>
      {% endif %}
      <form action="" method="post" novalidate>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    {{ form.nickname|as_crispy_field }}
                  </div>
                  <div class="col-md-6 mb-3">
                    {{ form.email|as_crispy_field }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 mb-3">
                    {{ form.subject|as_crispy_field }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    {{ form.body|as_crispy_field }}
                  </div>
                </div>
                <hr class="mb-4">
                <div class="row">
                  <div class="col-md-6 mb-3">
                      {{ form.privacy|as_crispy_field }}<br>
                      <a href="{% url 'docs:page_list' %}privacy/">{% translate "Privacy agreement" %}.</a>
                  </div>
                  <div class="col-md-6 mb-3">
                    {{ form.captcha }}
                  </div>
                </div>
                {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
  </div>
</div>
{% endblock content %}
