{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Cambia password{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Cambia la password</strong></h4>
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
      <form action="" method="post" class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-9 mb-3">
            {{ form.old_password|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 mb-3">
            {{ form.new_password1|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 mb-3">
            {{ form.new_password2|as_crispy_field }}
          </div>
        </div>
          {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
  </div>
</div>
{% endblock content %}
