{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Password changed" %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Password changed" %}</strong></h4>
    <p class="alert alert-success" role="alert">
      {% translate "Your password was successfully changed" %}.
    </p>
    <p>{% translate "Go back to the" %} <a href="{% url 'account:profile' %}">{% translate "account" %}</a>?</p>
    <hr class="mb-4">
  </div>
</div>

{% endblock content %}
