{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}RP | Modifica profilo{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Modifica il tuo profilo, {{ member.get_full_name_reverse }}</strong></h4>
    <ul>
      <li>Tu non corri con noi, ma i tuoi figli si.</li>
    </ul>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
      <h4>Anagrafica</h4>
        {% include 'users/profile_includes/avatar.html' %}
        {% include 'users/profile_includes/name.html' %}
        {% include 'users/profile_includes/fiscal_code.html' %}
        <hr class="mb-4">
        <h4>Contatti</h4>
        {% include 'users/profile_includes/email.html' %}
        {% include 'users/profile_includes/address.html' %}
        {% include 'users/profile_includes/button.html' %}
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock content %}
