{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Modifica profilo{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Modifica il tuo profilo, {{ user.get_short_name }}</strong></h4>
    <p>Il tuo nome utente è {{ user.username }} (non modificabile)</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% include 'users/profile_includes/avatar.html' %}
        {% include 'users/profile_includes/name.html' %}
        {% include 'users/profile_includes/email.html' %}
        {% include 'users/profile_includes/button.html' %}
      {% csrf_token %}
    </form>
    <p>Hai dato consenso al trattamento dei dati secondo quanto indicato nella
      <a href="/docs/privacy/">Informativa della privacy.</a></p>
    <p>Se decidi di negare il consenso devi <a href="/accounts/profile/{{ user.id }}/delete">
      cancellare il tuo account.</a></p>
  </div>
</div>
{% endblock content %}
