{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Change profile" %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Change your profile" %}, {{ user.get_short_name }}</strong></h4>
    <p>{% blocktranslate with name=user.username %}
      Your username is {{ name }} (can't change that)
    {% endblocktranslate %}</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        {% translate "Fix the errors below, please" %}.
      </p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {% include 'users/profile_includes/avatar.html' %}
        {% include 'users/profile_includes/name.html' %}
        {% include 'users/profile_includes/email.html' %}
        <div class="row">
          <div class="col-md-12 mb-3">
            {{ form.bio|as_crispy_field }}
          </div>
        </div>
        {% include 'users/profile_includes/button.html' %}
      {% csrf_token %}
    </form>
    <p>{% translate "You have subscribed to the" %}
      <a href="{% url 'docs:page_list' %}privacy/">{% translate "Privacy agreement" %}.</a></p>
    <p>{% translate "If you want to unsubscribe you have to" %}
      <a href="{% url 'account:profile_delete' user.uuid %}">
      {% translate "delete your account" %}.</a></p>
  </div>
</div>
{% endblock content %}
