{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Profile deleted" %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Profile deleted" %}</strong></h4>
    <p class="alert alert-success" role="alert">
      {% translate "Your profile was deleted. Thanks anyway for subscribing to" %}
      {{ website.name }}!
    </p>
    <hr class="mb-4">
  </div>
</div>

{% endblock content %}
