{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Signup request" %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Signup request" %}</strong></h4>
      {% if submitted %}
      <div class="alert alert-success" role="alert">
        <p><strong>{% translate "Your request was forwarded successfully, thanks!" %}</strong></p>
        <p>{% blocktranslate %}
          You will soon receive a mail with access credentials.
          Login and change the automatic password.
          Remember that you subscribed to the
        {% endblocktranslate %}
        <a href="{% url 'docs:page_list' %}privacy/">{% translate "Privacy agreement" %}.</a>
        </p>
      </div>
      {% endif %}
      <p>{% blocktranslate with name=website.name %}
        Fill in the form to signup to {{ name }}. Registered users get access to
        extra content and can interact with the website. If you just want to
        send us a word use this other{% endblocktranslate %}
        <a href="{% url 'contacts' %}">{% translate "Privacy agreement" %}.</a></p>
      <p>{% translate "If you are a registered user just" %}
        <a href="{% url 'account:front_login' %}?next={% translate '/registration' %}">{% translate "login" %}.</a></p>
        {% if form.errors %}
          <p class="alert alert-danger" role="alert">
            {% translate "Fix the errors below, please" %}.
          </p>
        {% endif %}
      <form action="" method="post" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3">
            {{ form.email|as_crispy_field }}
          </div>
        </div>
        <hr class="mb-4">
        <div class="row">
          <div class="col-md-6 mb-3">
              {{ form.privacy|as_crispy_field }}<br>
              <a href="/docs/privacy/">{% translate "Privacy agreement" %}</a>
          </div>
          {% if website.recaptcha_test_mode == False %}
          <div class="col-md-6 mb-3">
            {{ form.captcha }}
          </div>
          {% endif %}
        </div>
        {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
  </div>
</div>
{% endblock content %}
