{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Richiesta di iscrizione{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Richiesta di iscrizione</strong></h4>
      {% if submitted %}
      <div class="alert alert-success" role="alert">
        <p><strong>La tua richiesta è stata inoltrata con successo, grazie!</strong></p>
        <p>A breve riceverai una mail con le credenziali di accesso.
        Effettua il login e cambia la password generata automaticamente.
        Ricorda che hai dato il consenso al trattamento dei dati, secondo
        quanto indicato nella <a href="/docs/privacy/">Informativa sulla privacy.</a>
        </p>
      </div>
      {% endif %}
      <p>Questo modulo serve per iscriversi a {{ website.name }}. Gli iscritti
        hanno accesso a contenuti extra e possono interagire con il sito.
        Se vuoi semplicemente inviarci un messaggio, usa quest'altro
        <a href="/contacts/">modulo.</a></p>
      <p>Se invece sei già registrato, effettua il
        <a href="/accounts/login/?next=/registration">login.</a></p>
        {% if form.errors %}
          <p class="alert alert-danger" role="alert">
            Per favore, correggi gli errori qui sotto.
          </p>
        {% endif %}
      <form action="" method="post" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            {{ form.username|as_crispy_field }}
          </div>
          <div class="col-md-6 mb-3">
            {{ form.email|as_crispy_field }}
          </div>
        </div>
        <hr class="mb-4">
        <div class="row">
          <div class="col-md-6 mb-3">
              {{ form.privacy|as_crispy_field }}<br>
              <a href="/docs/privacy/">Informativa sulla privacy</a>
          </div>
          {% if website.recaptcha_test_mode == False %}
          <div class="col-md-6 mb-3">
            {{ form.captcha }}
          </div>
          {% endif %}
        </div>
        {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
  </div>
</div>
{% endblock content %}
