{% extends 'base.html' %}

{% block title %}RP | Richiesta di iscrizione{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Richiesta di iscrizione</strong></h4>
      {% if submitted %}
      <div class="alert alert-success" role="alert">
        <p><strong>La tua richiesta è stata inoltrata con successo, grazie!</strong></p>
        <p>A breve riceverai una mail con le credenziali di accesso.
        Non è un processo automatico, per cui può richiedere tempo, intanto
        puoi effettuare un'altra iscrizione.</p>
      </div>
      {% endif %}
      <p>Bentrovato {{ user.member.first_name }}, questo modulo può servire per
        iscrivere i propri figli. Se vuoi semplicemente
        inviarci un messaggio, usa quest'altro
        <a href="/contacts/">modulo.</a></p>
        {% if form.errors %}
          <p class="alert alert-danger" role="alert">
            Per favore, correggi gli errori qui sotto.
          </p>
        {% endif %}
      <form action="" method="post" novalidate>
        {% include 'users/profile_includes/name.html' %}
        {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
  </div>
</div>
{% endblock content %}
