{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Password resetted" %}{%endblock title %}

{% block content %}

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if user.is_authenticated %}
    <p class="alert alert-success" role="alert">
      {% translate "Now that you're logged in you could do the following" %}:
    </p>
    <ul>
      <li>{% translate "Modify your" %} <a href="{% url 'profile' %}">{% translate "account" %}</a></li>
      <li>{% translate "Just" %} <a href="{% url 'front_logout' %}">{% translate "logout" %}</a></li>
    </ul>
    {% else %}
    <h4><strong>{% translate "Password resetted" %}</strong></h4>
    <p class="alert alert-success" role="alert">
      {% translate "Your password has been resetted, try not to forget it again" %}!
    </p>
    <p>{% translate "Now just" %} <a href="{% url 'front_login' %}">{% translate "login" %}</a>.</p>
    {% endif %}
    <hr class="mb-4">
  </div>
</div>

{% endblock content %}
