{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Resetta password{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <h4><strong>Resetta la password</strong></h4>

      <form action="" method="post" novalidate>
                <div class="row">
                  <div class="col-md-9 mb-3">
                    {{ form.new_password1|as_crispy_field }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 mb-3">
                    {{ form.new_password2|as_crispy_field }}
                  </div>
                </div>
                {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
  </div>
</div>
{% endblock content %}
