{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "New password" %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Request new password" %}</strong></h4>

    {% if user.is_authenticated %}
    <p class="alert alert-warning" role="alert">
    {% blocktranslate with name=user.username %}
    Seems like you already logged in as {{ name }},
    you don't need a new password.
    {% endblocktranslate %}
    </p>
    <hr class="mb-4">
    {% else %}
    <p>{% translate "Insert signup email and press Submit, then follow the instructions" %}.</p>
      <form action="" method="post" novalidate>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    {{ form.email|as_crispy_field }}
                  </div>
                </div>
                {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
      {% endif %}
  </div>
</div>
{% endblock content %}
