{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}RP | Richiesta password{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Richiesta nuova password</strong></h4>

    {% if user.is_authenticated %}
    <p class="alert alert-warning" role="alert">
    Guarda che sei già autenticato come {{ user.username }},
    non hai bisogno di una nuova password.
    </p>
    <hr class="mb-4">
    {% else %}
    <p>Inserisci l'email di registrazione e premi Invia, poi segui le istruzioni.</p>
      <form action="" method="post" novalidate>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    {{ form.email|as_crispy_field }}
                  </div>
                </div>
                {% include 'users/profile_includes/button.html' %}
        {% csrf_token %}
      </form>
      {% endif %}
  </div>
</div>
{% endblock content %}
