{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate "Request sent" %}{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>{% translate "Password change request sent" %}</strong></h4>
    <p class="alert alert-success" role="alert">
      {% translate "In your inbox you should find a link to reset the password" %}.
      {% translate "If you don't find it try looking in the spam folder" %}.
    </p>
    <hr class="mb-4">
  </div>
</div>

{% endblock content %}
