{% extends 'base.html' %}

{% block title %}{{ website.acro }} | Richiesta password inviata{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Richiesta password inviata</strong></h4>
    <p class="alert alert-success" role="alert">
      Nella posta dovresti trovare un messaggio con un link di ripristino della
      password. Se non la trovi controlla nella cartella dello spam.
    </p>
    <hr class="mb-4">
  </div>
</div>

{% endblock content %}
