{% extends 'base.html' %}
{% load static %}

{% block title %}SP | Home{%endblock title %}
{% block extra-head %}
{% endblock extra-head %}

{% block content %}
<div class="row">
  {{ page.carousel.render }}
</div>
<h4 class="text-left"><strong><em>{{ page.intro }}</em></strong></h4>
{% if actions %}
<hr class="mb-4">
<div class="card-deck">
  {% for action in actions %}
  <div class="card text-center" style="margin-bottom: 20px; min-width: 18rem; ">
    <div class="card-body">
      <h4 class="card-title">{{ action.title }}</h4>
      <p class="card-text">{{ action.subtitle }}</p>
      <a href="{{ action.link }}" class="btn btn-primary btn-lg btn-block">Vai!</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<hr class="mb-4">
<a href="/articoli/"><h4><strong>Articoli di approfondimento</strong></h4></a>
{% if posts %}
<div class="card-deck">
{% for post in posts %}
  <div class="card" style="margin-bottom: 20px; min-width: 18rem;">
    <div class="card-header">
      <a href="/articoli/{{ post.date|date:"Y/m/d" }}/{{ post.slug }}">
        <h4 class="card-title">{{ post.title }}</h4></a>
    </div>
    {% if post.get_image %}
      <img class="card-img-top" src="{{ post.get_image.url }}" alt="{{ post.intro }}">
    {% endif %}
    <div class="card-body">
      <em class="card-text">{{ post.intro }}</em>
      <ul class="list-inline">
        <li class="list-inline-item">
          {% if post.author %}
          <i class="fa fa-user" aria-hidden="true"></i>
          {{ post.author.get_full_name }}
          {% endif %}
        </li>
        <li class="list-inline-item">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
          {{ post.date|date:"d M Y" }}
        </li>
        {% if post.get_tags %}
          <li class="list-inline-item">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            {% for tag in post.get_tags %}
              <a href="/articoli/?categoria={{ tag }}">{{ tag|upper }}</a>
            {% endfor %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endfor %}
</div>
{% else %}
<p>Non sono disponibili articoli</p>
{% endif %}
{% endblock content %}

{% block extra-js %}
{% endblock extra-js %}
