{% extends 'base.html' %}
{% load static %}
{% load fb_versions %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Home' %}{%endblock title %}
{% block extra-head %}
{% endblock extra-head %}

{% block content %}
{% include "language_selector.html" %}
{% include 'pages/gallery.html' %}
<hr class="mb-4">
{% if actions %}
<div class="card-deck">
  {% for action in actions %}
  <div class="card text-center" style="margin-bottom: 20px; min-width: 18rem; ">
    <div class="card-body">
      <a href="{{ action.link }}" class="btn btn-secondary btn-lg btn-block">{{ action.title }}</a>
      <p class="card-text">{{ action.subtitle }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if page.intro %}
      <h4 class="text-left"><strong><em>{{ page.intro }}</em></strong></h4>
    {% endif %}
    {% if page.body %}
      <p class="text-left">{{ page.body|safe }}</p>
    {% endif %}
  </div>
</div>
<hr class="mb-4">
<a href="{% url 'portfolio:project_list' %}"><h4><strong>{% translate 'Projects'%}</strong></h4></a>
{% if progs %}
  {% include 'portfolio/project_list_loop.html' %}
{% else %}
<p>{% translate 'There are no projects available'%}</p>
{% endif %}
<hr class="mb-4">
<a href="{% url 'blog:post_index' %}"><h4><strong>{% translate 'In-depth articles'%}</strong></h4></a>
  {% include 'blog/article_archive_list.html' %}
{% endblock content %}

{% block extra-js %}
{% endblock extra-js %}
