{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Documents' %}{%endblock title %}
{% block extra-head %}
{% endblock extra-head %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
    <h4><strong>{% translate 'Documents' %}</strong></h4>
    {% if annotated_lists %}
      {% for annotated_list in annotated_lists %}
        {% for page, info in annotated_list %}
          {% if info.open %}
              <ul><li>
          {% else %}
              </li><li>
          {% endif %}
              <a href="{{ page.get_path }}">{{ page.title }}</a>
              {% if page.intro %}<em>- {{ page.intro }}</em>{% endif %}
                {% if page.paragraphs %}<ol>{% for num, title in page.paragraphs.items %}
                  <small><li><a href="{{ page.get_path }}#paragraph-{{ num }}">
                    {{ title }}</a></li></small>
                {% endfor %}</ol>{% endif %}
          {% for close in info.close %}
              </li></ul>
          {% endfor %}
        {% endfor %}
        <hr class="mb-4">
      {% endfor %}
    {% else %}
    <p>{% translate 'No documents available' %}</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block extra-js %}
{% endblock extra-js %}
