{% load fb_versions %}
<div id="gallery-{{ block_unique_id }}" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for image in block_content %}
      <li data-target="#gallery-{{ block_unique_id }}" data-slide-to="{{ forloop.counter0 }}"
      {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for image in block_content %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{% version image.fb_image 'wide_landscape' %}"
          class="d-block w-100">
        {% if image.get_caption %}
          <div class="gradient-mask"></div>
          <div class="carousel-caption d-none d-md-block">
            {{ image.get_caption|safe }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#gallery-{{ block_unique_id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Precedente</span>
  </a>
  <a class="carousel-control-next" href="#gallery-{{ block_unique_id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Prossima</span>
  </a>
</div>
