{% load fb_versions %}
<div id="gallery-{{ block_unique_id }}" class="carousel slide" data-ride="carousel">
  {% if block_content|length > 1 %}
    {% include "streamblocks/gallery_indicators.html" %}
  {% endif %}
  <div class="carousel-inner">
    {% for image in block_content %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{% version image.fb_image 'wide_landscape' %}"
          class="d-block w-100">
        {% if image.caption or image.title %}
          <div class="gradient-mask"></div>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="display-1">{{ image.title|default_if_none:"" }}</h1>
            <p>{{ image.caption|default_if_none:"" }}</p>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
